* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}



.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}


nav {
    background-color: darkorange;
    height: 3.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;

  

}

.h-left {
    padding: 1rem;
    flex-basis: 14%;
    justify-content: center;

}

a:link {
    color: white;
    text-decoration: none;
}

div.link {
    color: white;
    text-decoration: none;
}

.logo-box {
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 2.5rem;
    width: 12rem;
    

}

.h-right {
    flex-basis: 14%;
    justify-content: flex-end;

}

section.row-products {
    justify-content: center;
    width: 100%;
    
}

article.product {
    display: inline-block;
    padding: 1.5rem;
    margin-top: 4rem;
    
    
}

img {
    width: 17rem;
    height: 25rem;
}

span.discount {
    background-color: red;
    top: 24rem;
    left: 2rem;
    color: white;
    font-size: 0.8rem ;
    width: 2rem;
    height: 1rem;
    text-align: center;

}

span.sustainability {
    background-color: green;
    font-size: 0.8rem;
    text-align: center;
    top: 24rem;
    left: 4.4rem;
    color: white;
    width: 5rem;
    height: 1rem;
}

p.brand {
    font-size: small;
}

p.product-name {
    font-weight: bold;
    text-transform: uppercase;
}

p.price1 {
    display: inline-block;
    color: red;
}

span.price2 {
    text-decoration: line-through;
}

span.sustainability2 {
    background-color: green;
    font-size: 0.8rem;
    text-align: center;
    top: 24rem;
    left: 2rem;
    color: white;
    width: 5rem;
    height: 1rem;
}


footer {
    background-color: #1c1b1c;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.info {
    color: white;
    flex-basis: 100%;
    font-size: .8rem;
    margin-right: 31rem;

}

div.other {
    color: white;
    flex-basis: 100%;
    font-size: .8rem;


}

article.product:hover #photo1 {
    background-image: url(../img/1b.webp);
}
